.header {
  box-sizing: border-box;
  /* border: 1px solid black; */
}
.top {
  box-sizing: border-box;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  height: 36.8906px;
  letter-spacing: 1px;
  line-height: 16.9px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-align: center;
  font-weight: 400;
  color: rgb(18, 18, 18);
  width: 1458px;
}
.logo {
  box-sizing: border-box;
  cursor: pointer;
  height: 45px;
  width: 90px;
  align-items: center;
  margin-bottom: 2px;
}
.icon:hover {
  transform: scale(1.2);
}
.routes > * {
  font-size: 12px;
}
.link {
  font-size: 14px;
  letter-spacing: 0.5px;
}
