.wrapper {
  /* height: 666px;
  width: 1150px; */
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: auto;
  /* margin-bottom: 150px; */
}
